/* Primitive */
:root {
  --com-100: #f5c3cf;
  --com-200: #f0a6b8;
  --com-300: #e97d97;
  --com-400: #e56483;
  --com-50: #fcecf0;
  --com-500: #de3d64;
  --com-600: #ca385b;
  --com-700: #9e2b47;
  --com-800: #7a2237;
  --com-900: #5d1a2a;
  --design-100: #feedb0;
  --design-200: #fee48a;
  --design-300: #fed854;
  --design-400: #fdd133;
  --design-50: #fff9e6;
  --design-500: #fdc500;
  --design-600: #e6b300;
  --design-700: #b48c00;
  --design-800: #8b6c00;
  --design-900: #6a5300;
  --dev-100: #b5eef1;
  --dev-200: #91e5ea;
  --dev-300: #5ed9e1;
  --dev-400: #3fd2db;
  --dev-50: #e7f9fb;
  --dev-500: #3fd2db;
  --dev-600: #0eb5bf;
  --dev-700: #0b8d95;
  --dev-800: #086d74;
  --dev-900: #065458;
  --neutral-0: #fbfaff;
  --neutral-100: #c6bde2;
  --neutral-200: #ab9dd4;
  --neutral-300: #8470c1;
  --neutral-400: #6d55b5;
  --neutral-50: #edeaf6;
  --neutral-500: #482aa2;
  --neutral-600: #422693;
  --neutral-700: #331e73;
  --neutral-800: #281759;
  --neutral-900: #1e1244;
  --project-100: #e1f5d1;
  --project-200: #d3f0bb;
  --project-300: #bfea9d;
  --project-400: #b2e589;
  --project-50: #f5fcf0;
  --project-500: #9fdf6c;
  --project-600: #91cb62;
  --project-700: #719e4d;
  --project-800: #577b3b;
  --project-900: #4f792d;
}
/* Tokens */
:root {
  /* color */
  --background: var(--neutral-0, #fbfaff);
  /* Status */
  --status-disabled: var(--neutral-100, #c6bde2);
  --status-disabled-dark: var(--neutral-700, #331e73);
  --status-disabled-light: var(--neutral-500, #482aa2);
  --status-error: var(--com-500, #de3d64);
  --status-error-dark: var(--com-900, #5d1a2a);
  --status-error-light: var(--com-50, #fcecf0);
  --status-info: var(--dev-500, #3fd2db);
  --status-info-dark: var(--dev-900, #065458);
  --status-info-light: var(--dev-50, #e7f9fb);
  --status-success: var(--project-500, #9fdf6c);
  --status-success-dark: var(--project-900, #4f792d);
  --status-success-light: var(--project-50, #f5fcf0);
  --status-warning: var(--design-500, #fdc500);
  --status-warning-dark: var(--design-900, #6a5300);
  --status-warning-light: var(--design-50, #fff9e6);
  /* Surface */
  --surface-default: var(--neutral-50, #edeaf6);
  --surface-com: var(--com-100, #f5c3cf);
  --surface-design: var(--design-100, #feedb0);
  --surface-dev: var(--dev-100, #b5eef1);
  --surface-project: var(--project-100, #e1f5d1);
  /* Text */
  --text-color-default: var(--neutral-900, #1e1244);
  --text-color-light: var(--neutral-0, #fbfaff);
  --text-color-link: var(--neutral-400, #6d55b5);
  --text-color-mid: var(--neutral-600, #422693);
}
/* Numbers */
:root {
  /* Radius */
  --radius-s: 0.25rem;
  --radius-m: 0.5rem;
  --radius-l: 6.25rem;
  /* Spacing */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3.5rem;
}
