<footer class="flex justify-center text-center py-5 rounded-b-md">
  <p class="">
    Astro Default is proudly powered by
    <a
      class="text-blue-french hover:text-blue-maritime hover:underline"
      href="https://astro.build/"
      target="_blank">{Astro.generator}</a
    >
    <br />
    <a
      class="text-blue-french hover:text-blue-maritime hover:underline"
      href="/rss.xml">Entries (RSS)</a
    >.
  </p>
</footer>
